body {
    margin: 0px;
    padding: 10.8% 0%;
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(47, 47, 47));
    background-repeat: no-repeat;
    text-align: center;
    height: 100%;
    width: 100%;
}


.bar {

    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(47, 47, 47));
    /* background-color: transparent; */
    width: 50%;
    color: white;
    border: 10px;
    padding: 5%;
    border-radius: 10px;

}

.task {
    width: 70%;
    border-radius: 10px;
    background-color: transparent;
    font-size: 17px;
    padding: 0.5% 3%;
    outline: none;
    border: none;
    caret-color: white;
    color: white;
    border-bottom: 1px solid white;
}

.task::placeholder {
    color: white;
}

input {
    height: 40px;
    margin-left: 2px;
    margin-right: 2px;
}

.add {
    width: 13%;
    padding: 0.5% 1%;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
}


ul li {
    cursor: pointer;
    padding-left: 50px;
    height: 45px;
    width: 95%;
    font-size: 17px;
    list-style: none;
    border-radius: 25px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 3px;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 13px;
    left: 20px;
}

.checked {
    text-decoration: line-through;
    color: #555;
}
.checked::before{
    background-image: url(checked.png);
    
}
span {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 20px;
}

span:hover {
    background-color: rgb(161, 156, 149);
}